.container {
    width: 100%;
    max-width: 1100px;
    background-color: #ccc;
    margin: auto;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: blueviolet;
    font-size: 25px;
    font-weight: 600;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 150px;
    float: left;
    font-size: 20px;
}

.box1{
    background-color: aquamarine;
}

.box2{
    background-color: chocolate;
}

.box3{
    background-color: yellow;
}

.box4{
    background-color: red;
}

/* For Tablets */

@media screen and (max-width: 768px) {
    .box1{
        width: 100%;
    }
    .box2{
        width: 100%;
    }
}

/* For Mobiles */

@media screen and (max-width: 320px){
    .box3{
        width: 100%;
    }
    .box4{
        width: 100%;
    }
}