body{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1100px;
    background-color: #ccc;
    margin: auto;
}

header {
    height: 120px;
    background-color: blueviolet;
}

.box {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 150px;
    float: left;
}

.box1{
    background-color: aquamarine;
}

.box2{
    background-color: chocolate;
}

.box3{
    background-color: yellow;
}

.box4{
    background-color: red;
}

@media screen and (max-width: 768px) {
    .box1{
        width: 100%;
    }
    .box2{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .box3{
        width: 100%;
    }
    .box4{
        width: 100%;
    }
}